@font-face {
    font-family: "interregular";
    src: url(../font/static/Inter-Regular.ttf);
  }
  @font-face {
    font-family: "interregular-bold";
    src: url(../font/static/Inter-ExtraBold.ttf);
  }
  @font-face {
    font-family: "interregular-light";
    src: url(../font/static/Inter-Light.ttf);
  }
  
  *{
    font-family: "interregular";
  }

  
  @media(max-width: 768px){
    .home_first_section_heading{
        font-size: 36px !important;
        line-height: 34px !important;
    }
    #home_first_section{
        margin-top: 130px !important;
    }
    .home_img_main{
        margin-top: 40px !important;
    }
    .buy_btn{
        padding: 14px 25px !important;
    }
    .live_btn{
        padding: 14px 25px !important;
    }
}

.category_icon{
    font-size: 32px;
    color: #0951CC;
    margin-bottom: 15px;
    font-family: "interregular";
}
.learn-text{
    color: #0951CC;
    font-size: 14px;
}
.pro-card-text{
    font-size: 16px;
    line-height: 20px;
    font-family: "interregular";
}
.pro-card-heading{
    font-size: 16px;
    line-height: 24px;
    font-family: "interregular";
}
.pro-card-bg{
    transition: 0.1s;
    padding: 10px 10px;
    border-radius: 6px;
}
.pro-card-bg:hover{
    background-color: #fafafa;
    cursor: pointer;
}

/* home_first_section start */


/* .first-section-container{
    border: 1px solid transparent;
    dont remove this border
} */
#home_first_section{
    margin-top: 220px;
}
.home_first_section_heading{
    font-size: 48px;
    line-height: 48px;
    color: #000;
    font-family: "interregular-bold";
    font-weight: bolder;
}
.buy_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 0px;
    font-size: 15px;
    width: 100px;
    border-radius: 6px;
    font-family: "interregular";
}
/* .buy_btn:hover{
    background-color: #336bcc;
} */
.live_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 0px;
    font-size: 15px;
    width: 100px;
    border-radius: 6px;
    font-family: "interregular";
}
.ss_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 6px;
    font-family: "interregular";
}
.cre_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 6px;
    font-family: "interregular";
}
.vid_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 15px;
    font-size: 15px;
    border-radius: 6px;
    font-family: "interregular";
}

@media (max-width: 576px) {
    .buy_btn{
        width: 115px;
    }
    .live_btn{
        width: 125px;
    }
}

.home_first_section_text{
    color: #71717A;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    font-family: "interregular";
}

/* home section end */


.powerful_heading{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #0951CC;
    font-family: "interregular";
    font-weight: bolder;
}
.better_heading{
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.9px;
    color: #000;
    font-weight: bold !important;
    font-family: "interregular-bold" !important;
}
.powerful_para{
    color: #71717A;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    font-family: "interregular";
}


/* card start */


.every_card_heading{
    font-family: "interregular-light";
    font-size: 18px;;
    line-height: 24px;
    color: #000;
}
.every_card_para{
    font-family: "interregular";
    font-size: 16px;;
    line-height: 24px;
    color: #71717A;
}

/* card section end */



/* ready section start */

.ready_text{
    font-family: "interregular-bold";
    font-size: 36px;;
    line-height: 40px;
    letter-spacing: -0.9px;
    color: #18181B;
}
.check_text{
    font-family: "interregular-bold";
    font-size: 24px;;
    line-height: 32px;
    letter-spacing: -0.9px;
    color: #18181B;
}
.feature_btn{
    color: #fff;
    background-color: #0951CC;
    padding: 12px 24px;
    border-radius: 6px;
    font-family: "interregular";
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.feature_btn:hover{
    background-color: #336bcc;
}


/* amazing section start */


.amazing_para{
    font-family: "interregular";
    font-size: 24px;;
    line-height: 36px;
    color: #18181B;
    font-weight: 500;
}
.instikit-logo{
    max-width: 18% !important;
}
@media (max-width: 786px) {
    .instikit-logo{
        max-width: 45% !important;
    }
}
.saifullah{
    font-family: "interregular";
    font-size: 16px;;
    line-height: 24px;
    color: #18181B;
    font-weight: 400;
}
.slash{
    font-family: "interregular-bold";
    font-weight: bold;
    color: #0951CC;
    font-size: 23px;
}
.trainer{
    font-family: "interregular";
    font-size: 16px;;
    line-height: 24px;
    color: #71717A;
}


/* convinced_section start */

.convinced_section{
    background-color: #312E81;
    margin-top: 70px;
}
.convinced_heading{
    color: #fff;
    font-family: "interregular";
    font-size: 36px;;
    line-height: 40px;
}
.convinced_para{
    color: #C7D2FE;
    font-family: "interregular";
    font-size: 18px;;
    line-height: 24px;
}
.convinced_btn{
    padding: 12px 24px;
    border-radius: 6px;
    font-family: "interregular";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #0951CC;
    border: 1px solid #0951CC;
    background-color: #fff;
}
.convinced_btn:hover{
    padding: 12px 24px;
    border-radius: 6px;
    font-family: "interregular";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #fff;
    border: 1px solid #fff;
    background-color: #0951CC;
}

    

.padding-left{
    padding: 8px;
}
.navbar-nav > .nav-item .active{
    color: #0951CC !important;
}
.navbar-nav > .nav-item .active:active{
    color: #0951CC !important;
}
